body{
	font-family: "Marker Felt","Arial", fantasy;
	color:#003366;
  background-image:url("https://4.imimg.com/data4/LJ/AU/MY-7948999/wooden-flooring-250x250.jpg")
       }

h1 {
	font-size: 6.9em;
	text-align:center;
     }
h2{
	font-size:6.9em;
	text-align:center:
         }
h3 {
	
